:root {
  --charcoal-black: #2c2f36;
  --deep-burgundy: #9b2d20;
  --gold: #ffcc00;
  --muted-navy: #3e4e6d;
  --ivory: #f8f8f8;
}

body {
  background-color: var(--ivory) !important;
  color: var(--muted-navy);
}